<!DOCTYPE html>
<html>
<head>
  <title>Enroll</title>
  <%= stylesheet_link_tag    "enroll/application", media: "all" %>
  <%= javascript_include_tag "enroll/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
